basePath: /
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server for Cumulus3 object storage.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Cumulus3 API
  version: "1.0"
paths:
  /api/v1/files:
    post:
      consumes:
      - multipart/form-data
      description: Uploads a file to the storage
      parameters:
      - description: File to upload
        in: formData
        name: file
        required: true
        type: file
      - description: Legacy ID
        in: formData
        name: old_cumulus_id
        type: integer
      - description: Validity period (e.g. '1 day', '2 months')
        in: formData
        name: validity
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: File uploaded successfully
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "413":
          description: File too large
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Upload a file
      tags:
      - files
swagger: "2.0"
